s@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card mt-4">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Reset Password</h4>
                    <form v-on:submit.prevent="">
                        <div class="form-group">
                            <label>New Password</label>
                            <input name="" class="form-control" placeholder="******" type="password" v-model="password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input name="" class="form-control" placeholder="******" type="password" v-model="repassword">
                        </div>
                        <button v-if="busy" v-cloak class="btn btn-block btn-primary mb-4" disabled>Working...&nbsp;&nbsp;<i class="fa fa-sync fa-spin"></i></button>
                        <button v-else class="btn btn-block btn-primary mb-4" v-on:click="signIn">Reset Password</button>
                        <div v-cloak v-if="error" class="alert alert-danger">{{error}}</div>
                        <div v-cloak v-if="message" class="alert alert-success">{{message}}</div>
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>
</div>
<script>
    var loginPage;
    window.onload = function () {
        loginPage = new Vue({
            el: '#login',
            mounted: function () { //Everything here will execute on page load

            },
            data: {
                token: '',
                password: '',
                repassword: '',
                busy: false,
                error: null,

            },
            methods: {
                signIn: function () {
                    var me = this;
                    me.message = '';
                    if (me.password !== me.repassword || me.password === "") {
                        me.busy = false;
                        me.error = "Passwords must match";
                        return;
                    }
                    var urlParams = new URLSearchParams(window.location.search);
                    me.token = urlParams.get('token');

                    payload = {
                        password: me.password,
                        token: me.token
                    }
                    $.ajax({
                        url: "reset-password",
                        type: "POST",
                        async: true,
                        data: payload,
                        success: (response) => {
                            if (response.success) {
                                window.location = response.redirect;
                            }
                            else {
                                me.error = response.error;
                                me.message = null
                            }
                        },
                        complete: () => {
                            me.busy = false;
                        }
                    });
                }
            },
            computed: {},
            filters: {},
        })
    }
</script>

