
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Unauthorized</h1>
<p>Your account lacked the correct permission to view that page.</p>
<a href="/login" class="btn btn-primary">Tenant Login</a>
<a href="/admin/login" class="btn btn-outline-primary">Admin Login</a>
